.topInfo {
  margin-bottom: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 16px;
    color: var(--gray-100);
    text-align: center;

    span {
      color: var(--yellow);
    }
  }

  button {
    background: transparent;
    border: 0;
    color: var(--gray-100);
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
    }

    &:hover {
      text-decoration: underline;
    }
  }
}

.userBox {
  border: 2px solid #585858;
  border-radius: 2px;
  padding: 16px;

  display: flex;
  align-items: center;

  .image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgb(247,183,24);
    background: linear-gradient(315deg, rgba(247,24,24,1) 0%, rgba(247,183,24,1) 100%);
    padding: 3px;
    margin-right: 20px;

    img {
      width: 100%;
      height: auto;
      border: 5px solid var(--gray-300);
      border-radius: 50%;
    }
  }

  .textBox {
    h2 {
      color: var(--gray-100);
      font-size: 24px;
    }

    ul {
      margin-top: 8px;
      li {
        color: var(--gray-100);
        font-size: 14px;
        font-weight: 400;
        display: flex;
        align-items: center;

        svg {
          margin-right: 8px;
        }

        strong {
          margin-left: 4px;
          font-weight: 700;
        }

        &:last-child {
          svg {
            margin-left: -2px;
            margin-right: 10px;
          }
        }

        & + li {
          margin-top: 8px;
        }
      }
    }
  }

  .buttons {
    margin-left: auto;
    display: flex;
    flex-direction: column;

    button {
      width: 100%;
      height: 32px;
      border: 0;
      background: var(--gray-100);
      padding: 0 16px;
      border-radius: 2px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background .2s;

      svg {
        margin-right: 8px;
      }

      & + button {
        margin-top: 8px;
      }

      &:hover {
        background: #b7b7b7;
      }
    }
  }
}

.messageNotFound {
  margin: 64px 0;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  text-align: center;
  color: var(--yellow);
}

@media (max-width: 768px) {
  .topInfo {
    margin-bottom: 20px;

    p {
      font-size: 12px;
      text-align: left;
    }

    button {
      font-size: 12px;
    }
  }

  .userBox {
    flex-direction: column;

    .image {
      width: 70px;
      height: 70px;
      margin-right: 0;
    }

    .textBox {
      margin-top: 16px;

      h2 {
        font-size: 20px;
      }

      ul {
        li {
          justify-content: center;
        }
      }
    }

    .buttons {
      width: 100%;
      margin: 16px 0 0;
      flex-direction: row;
      align-items: center;

      button {
        font-size: 12px;

        & + button {
          margin-top: 0;
          margin-left: 16px;
        }
      }
    }
  }

  .messageNotFound {
    margin: 32px 0;
    font-size: 16px;
  }
}