.userBox {
  border: 2px solid #585858;
  border-radius: 2px;
  padding: 16px;

  display: flex;
  align-items: center;

  .image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: rgb(247,183,24);
    background: linear-gradient(315deg, rgba(247,24,24,1) 0%, rgba(247,183,24,1) 100%);
    padding: 3px;
    margin-right: 20px;

    img {
      width: 100%;
      height: auto;
      border: 5px solid var(--gray-300);
      border-radius: 50%;
    }
  }

  .textBox {
    h2 {
      color: var(--gray-100);
      font-size: 24px;
    }

    ul {
      margin-top: 8px;
      li {
        color: var(--gray-100);
        font-size: 14px;
        display: flex;
        align-items: center;

        svg {
          margin-right: 4px;
        }

        strong {
          margin-right: 4px;
        }

        & + li {
          margin-top: 8px;
        }
      }
    }
  }

  .buttons {
    margin-left: auto;
    display: flex;
    flex-direction: column;

    button {
      width: 100%;
      height: 32px;
      border: 0;
      background: var(--gray-100);
      padding: 0 16px;
      border-radius: 2px;
      font-weight: 700;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background .2s;

      svg {
        margin-right: 8px;
      }

      & + button {
        margin-top: 8px;
      }

      &:hover {
        background: #b7b7b7;
      }
    }
  }
}