.container {
  padding: 32px 0;
}

.content {
  max-width: 860px;
  padding: 0 16px;
  margin: 0px auto;
}

.loading {
  margin: 64px auto;
}

@media (max-width: 768px) {
  .container {
    padding: 20px 0;
  }
}